<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="card p-2 m-5">
      <% if @article.image.present?%>
        <%= image_tag(@article.image) %>
      <% end %>
      <div class="card-title">  <h1><%= @article.title %></h1></div>
      <small class="text-muted">Written By <%= @article.author.name %>
        <%= article_buttons(@article) %></small>
      <div class="card-body">
       <%= @article.text %>
      </div>
      <div class="d-flex justify-content-end"><h3> Vote for Article <%= vote_btn(@article) %></h3></div>
    </div>




  </div>
</div>