<div class="col-lg-4 offset-lg-4 text-center">
  <div class="card m-lg-5 m-md-1 p-lg-5 p-md-1 border-primary">
    <%= image_tag 'apple-icon', class: 'mb-4' %>
    <%= form_with(model: user) do |form| %>
      <%= error_form(user) %>
      <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class:'form-control' %>
      </div>

      <div class="actions my-3">
        <%= form.submit 'Sign Up', class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>